---
layout: default
---
<div class="home">
	<div class="site-header">
		<div class="">
			<h1 class="post-title">{{ site.title }}<img class="header-image" src="{{ "/assets/srdan-hi.png" | prepend: site.baseurl }}"></h1>
			<section>
				<!-- <img class="header-image" src="{{ "/assets/srdan-hi.png" | prepend: site.baseurl }}"> -->
				<p class="site-intro">Hi there! Follow me as I share lessons learned from years of developing iOS apps. My goal is to offer unique insights and highlight best practices, whether through in-depth articles or quick tips.</p>
				<p class="site-intro">If you have any feedback, please let me know <a href="https://twitter.com/srstanic" target="_blank">@srstanic</a>.</p>
			</section>
		</div>
	</div>
	<hr/>
	<section>
		<ul class="post-list">
			{% for post in site.posts %}
			<li>
				<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
				<span class="meta">
					<time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %d, %Y" }}</time>
					•
					{% assign read_time_content = post.content %}
					{% include read_time.html %}
				</span>
			</li>
			{% endfor %}
		</ul>
	</section>
	<hr/>
	<section class="embedded-email-form">
		<div class="ml-embedded" data-form="xGLrda"></div>
	</section>
	<hr/>
	<section>
		<p class="site-intro">If you are into strength training, check out <a href="https://engineeringstrong.com" target="_blank">engineeringstrong.com</a>.</p>
	</section>
</div>
