---
layout: default
---
<div class="home">
	<h1 class="post-title">{{ site.title }}</h1>
	<section class="site-header">
		<p class="site-intro">My random collection of notes on building iOS apps with Swift.</p>
		<p class="site-intro">If you find any inaccuracies, please let me know <a href="https://twitter.com/srstanic" target="_blank">@srstanic</a>.</p>
	</section>
	<hr/>
	<section>
		<ul class="post-list">
			{% for post in site.posts %}
			<li>
				<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
				<span class="meta">
					<time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %d, %Y" }}</time>
					•
					{% assign read_time_content = post.content %}
					{% include read_time.html %}
				</span>
			</li>
			{% endfor %}
		</ul>
	</section>
	<hr/>
	<section class="embedded-email-form">
		<div class="ml-embedded" data-form="xGLrda"></div>
	</section>
	<hr/>
	<section>
		<p class="site-intro">If you are into strength training, check out <a href="https://engineeringstrong.com" target="_blank">engineeringstrong.com</a>.</p>
	</section>
</div>
